<div class="row mt-3">
  <form action="/" method="POST">
    <div class="input-group justify-content-center">
      <input type="url" name="fullUrl" placeholder="input URL here" class="form-control" required>
      <button class="btn btn-primary" type="submit">Shorten</button>
    </div>
  </form>
</div>